.clearfix:after,
.clearfix:before {
    display: table;
    content: " ";
    clear: both;
}

#aa * {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
    background: -webkit-linear-gradient(top, transparent, transparent);
    background: linear-gradient(180deg, transparent, transparent);
}

#footer_powered {
    margin-top: -40px;
    z-index: 10;
    position: relative;
    height: auto;
    padding: 14px 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
    background: -webkit-linear-gradient(top, transparent, transparent);
    background: linear-gradient(180deg, transparent, transparent);
    text-align: center;
}

#footer_powered_content {
    width: 100%;
    display: block;
    margin: auto;
    color: #617891;
}

.footer_powered_buy {
    color: #999;
    display: none;
    font-size: 12px;
}
.footer_powered_buy a {
    display: inline;
    color: #617891;
}

.show {
    display: block !important;
}

.footer_collect_row {
    display: none;
}

#footer_powered_row,
#footer_powered_row_a,
#footer_powered_row_p,
#footer_powered_row_p_new {
    display: inline-block;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #617891 !important;
    letter-spacing: 0;
    line-height: 12px;
    justify-content: center;
}

#footer_powered_row {
    display: none;
    text-align: center;
}

#footer_powered_row_a img {
	width: 12px;
	height: 12px;
	margin: 0 3px;
	vertical-align: middle;
}

.footer_collect_row_a {
    display: inline-block;
    font-size: 12px;
    color: #617891;
    letter-spacing: 0;
    line-height: 12px;
}

.footer_collect_row_a.none {
    display: none;
}

.footer_collect_row_span {
    font-size: 12px;
    color: #999;
    letter-spacing: 0;
    line-height: 12px;
    display: none;
}

.footer_divider {
    font-size: 12px;
    color: #aaa;
    padding: 0 4px;
}

#footer_powered_row_p {
    color: #617891 !important;
}

#footer_powered_row_a span {
    color: #999 !important;
}

#footer_powered_row_p_new {
    color: #999 !important;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pos-abt {
    position: absolute;
}

.pos-rlt {
    position: relative;
}

.fl {
    float: left!important;
}

.fr {
    float: right!important;
}

.font-14 {
    font-size: 14px!important;
}

.font-12 {
    font-size: 12px!important;
}

.font-color-9 {
    color: #999999!important;
}

.font-color-8 {
    color: #888888!important;
}

.font-color-zs {
    color: #586c94!important;
}

.font-color-l {
    color: #586C94!important;
}

.mb-40 {
    margin-bottom: 40px;
}

.b-white {
    background-color: #fff!important;
}

.d-l:before {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    height: 6px;
    width: 6px;
    border-width: 1px 1px 0 0;
    border-color: #999999;
    border-style: solid;
    position: relative;
    top: -2px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -5px
}

.d-l1:before {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 6px;
    width: 6px;
    border-width: 1px 1px 0 0;
    border-color: #999999;
    border-style: solid;
    position: relative;
    top: -2px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -2px
}

.tnone {
    display: none !important;
}

.text-center {
    text-align: center;
}

.ci_weui_media_box {
    padding: 0px 13px;
}

.cli_weui_media_info {
    line-height: 20px;
    height: 20px;
    font-size: 18px;
    color: #586c94;
    letter-spacing: 0px;
    text-align: center;
}

.cli_weui_media_desc {
    color: #666666;
}

#cli_details_all {
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
}

#cli_details,
#cli_details1 {
    padding-right: 12px;
    -webkit-tap-highlight-color: transparent;
}

.cli_weui_media_box {
    background-color: #fff!important;
    position: relative;
}

.cli_weui_media_box img {
    width: 192px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
}

.cli_weui_media_hd {
    padding-top: 58px;
    padding-bottom: 16px;
    text-align: center;
}

.cli_weui_media_bd {}

.cli-title {
    padding-top: 80px;
    padding-bottom: 17px;
    font-size: 12px;
    text-align: center;
}

#tcomplain {
    top: 0px;
    right: 5px;
    z-index: 99;
}

#tips_user {
    display: inline-block;
    vertical-align: middle;
}

.tips_type {
    background: #81c5f5!important;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1em;
    height: 16px;
    line-height: 16px!important;
    -webkit-border-radius: 8px;
    padding: 0 6px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-left: 5px;
    margin-top: -1px;
    vertical-align: middle;
}

.cli_show {
    display: block;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

#ci_weui_media_box {
    overflow: hidden;
}

.cli_hide {
    height: 0;
    /*  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);*/
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
    -moz-transition: height 0.4s ease-out;
    -o-transition: height 0.4s ease-out;
    -webkit-transition: height 0.4s ease-out;
    transition: height 0.4s ease-out;
}

@keyframes hideAnimation {
    100% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -o-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    80% {
        -moz-transform: scaleY(0.4);
        -ms-transform: scaleY(0.4);
        -o-transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    60% {
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        -webkit-transform: scaleY(0.6);
        transform: scaleY(0.6);
    }

    40% {
        -moz-transform: scaleY(0.8);
        -ms-transform: scaleY(0.8);
        -o-transform: scaleY(0.8);
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }

    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.cli1 {
    min-height: 100%;
}

.cli_dots {
    width: 20px;
    line-height: 16px;
    top: 0px;
    right: -76px;
}

.cli_dots i {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #C7C7CC!important;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: -2px;
    vertical-align: middle;
}

#aa {
    z-index: 10;
    position: relative;
    height: auto;
    padding-top: 10px;
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}

@keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}

#cli_tips_d {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.cli_enter {
    height: 100%;
    width: 100%;
    -webkit-animation: a .2s forwards;
    animation: a .2s forwards;
}

.cli_leave {
    -webkit-animation: b .25s forwards;
    animation: b .25s forwards;
}

.t_content {
    position: relative;
    /*top:50%;
    transform: translate(0%, -50%);  */
}

.cli_weui_panel_bd {
    height: 216px;
    padding-top: 36px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 40px;
}

.cli_weui_panel_bd:nth-child(2) {
    margin-top: 20px;
}

.cli_weui_panel_bd:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #E5E5E5;
    color: #E5E5E5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.cli_weui_panel_bd:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    border-top: 1px solid #E5E5E5;
    color: #E5E5E5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.cli_capacity_d {
    padding: 0px 13px;
    padding-top: 40px;
}

.cli_capacity_d .end_tips {
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
}

.cli_capacity_d p.pos-abt {
    width: 100%;
    height: 22px;
    top: -11px;
    display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
}

.cli_capacity_d p.pos-abt span:nth-child(1),
.cli_capacity_d p.pos-abt span:nth-child(3) {
    -webkit-box-flex: 1;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.cli_capacity_d p.pos-abt span:nth-child(1):after,
.cli_capacity_d p.pos-abt span:nth-child(3):after {
    content: " ";
    display: block;
    width: 100%;
    height: 0px;
    border-top: 1px solid #bcbcbc;
    position: relative;
    right: 0px;
    top: 0px;
    z-index: 9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.cli_capacity_d p.pos-abt span:nth-child(2) {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    width: 80px;
    text-align: center;

    z-index: 99;
}

.cli_capacity_d p:nth-child(2) {
    padding: 0px 15px;
}

.end_tips1 {
    padding: 20px 14px;
}

.cli_weui_media_title {
    font-size: 18px;
    color: #333333;
    letter-spacing: 0px;
    text-align: center;
}

.cli_weui_media_desc {
    padding: 25px;
    text-align: center;
}

.weui_media_info {
    display: block;
}

#cli_details_one,
#cli_details_one_1 {
    padding-bottom: 10px;
    -webkit-tap-highlight-color: transparent;
}

#aa li {
    list-style: none!important;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .6s ease;
    transition: height .6s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

.effeckt-modal {
    -webkit-transform: translateX(100%);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
    -webkit-transition: all 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

@media screen and (max-width:320px) {
    .cli_weui_media_box img {
        width: 180px;
        height: 180px;
    }
    .cli_weui_media_hd {
        padding-top: 48px;
    }
    .cli_weui_media_desc {
        padding: 15px;
    }
    .cli-title {
        padding-top: 56px;
    }
    .cli_dots {
        top: 0px;
        right: -60px;
    }
}

@media screen and (min-width:414px) {
    .cli_weui_media_box img {
        width: 230px;
        height: 230px;
    }
    .cli_weui_media_hd {
        padding-top: 66px;
        padding-bottom: 16px;
    }
    .cli_weui_media_desc {
        padding: 15px;
    }
    .cli-title {
        padding-top: 80px;
        padding-bottom: 17px;
    }
    #tips_user {
        font-size: 16px!important;
    }
    .cli_dots {
        top: 0px;
        right: -100px;
    }
}
